body {
    font: 62.5% Lucida Grande;
    margin: 0;
}

.containerWrapper {
    background: #eee;
    border-radius: 10px;
    margin: auto 1.5em auto 1.5em;
}

.containerWrapper h3 {
    color: #2779AA;
    font-size: 1.3em;
    margin: .2em;
}

.menu {
    padding: 1em;
    margin: auto;
    width: 50%;
}

.menuItem {
    padding: .2em;
    margin:  auto;
    width: 30em;
}

.menuItem a {
    text-align: center;
    width: 100%;
}

.seriesGroup {
    padding:  1em;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-flex: 1;
}

.seriesGroup textarea {
    width: 90%;
    resize: none;
}

.seriesGroup .ui-progressbar {
    width: 90.5%;
    display: none;
}

.seriesGroup .seriesGroupError {
    font-size: 1.1em;
    display: none;
    width: 91%;
}

.seriesColumn {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 50%;
}


.optionsGroup {
    padding: 1em;
    font-weight: bold;
    font-size: 1.1em;
    color: #2779AA;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-flex: 1;
}

.optionsGroupElement {
    -webkit-box-flex: 1;
}

.optionsGroupError {
    font-size: 1.1em;
    padding: 1em;
    display: none;
}

.banner {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-flex: 1;
    width: 100%;
    font-weight: bold;
    font-size: 1.5em;
    background: #2779AA;
    color: #fff;
    padding-bottom: .2em;
    margin-bottom: .5em;
}

.banner .title {
    padding-left: 2em;
    -webkit-box-pack: start;
    -webkit-box-flex: 1;
    width: 50%
}

.banner .share {
   -webkit-box-pack: end;
   -webkit-box-align: end;
   -webkit-box-flex: 1;
   width: 50%
}

.banner .share span {
    float: right;
    padding-right: 1em;
    padding-top: 2px;
}

.banner a {
    text-decoration: none;
    color: #fff;
}

#shareLinkUrl {
    width: 100%;
}

#shareLinkUrlEmbedded {
    width: 100%;
}